.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--border-down);
    font-size: 1.5em;
    padding-bottom: 0.15em;
    background-color: var(--main-background);
}

.navbar__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 2em;
    border: 0.15em solid var(--border-down);
    border-radius: 0.5em;
    background-color: var(--main-background-light);
    cursor: pointer;
    position: relative;
    animation: navbarAppear 0.5s ease-in-out forwards;
    transform: translateY(50px);
    opacity: 0;
}
.navbar__column:nth-child(2) {
    animation-delay: 0.075s;
}
.navbar__column:nth-child(3) {
    animation-delay: 0.15s;
}
.navbar__column:nth-child(4) {
    animation-delay: 0.225s;
}

.navbar__column-selected {
    background-color: var(--main-background);
    /* transform: translateY(0.15em); */
    color: var(--main-text);
    animation-name: navbarAppearSelected;
}

.navbar__column-selected:visited {
    color: var(--main-text);
}

.navbar__column-nonselected:visited {
    color: var(--border-down);
}

.navbar__column-nonselected:hover {
    background-color: var(--main-background);
}

.navbar__column-nonselected:active {
    transform: translateY(0.15em);
    color: var(--main-text);
}

.navbar__margin {
    height: var(--margin-navbar);
    background-color: var(--main-background);
}

.navbar__badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6em;
    height: 1.6em;
    font-size: 0.5em;
    color: var(--main-text);
    background-color: var(--badge-color);
    border-radius: 0.8em;
    position: absolute;
    font-weight: 500;
    left: 5em;
    bottom: 2em;
    animation: badgeNotice 1.5s ease-in-out infinite;
}
