.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--border-down);
    font-size: 1.5em;
    margin-bottom: 0.15em;
}

.navbar__column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 2em;
    border: 0.15em solid var(--border-down);
    border-radius: 0.5em;
    background-color: var(--main-background-light);
    cursor: pointer;
}

.navbar__column-selected {
    background-color: var(--main-background);
    transform: translateY(0.15em);
    color: var(--main-text);
}

.navbar__column-selected:visited {
    color: var(--main-text);
}

.navbar__column-nonselected:visited {
    color: var(--border-down);
}

.navbar__column-nonselected:hover {
    background-color: var(--main-background);
}

.navbar__column-nonselected:active {
    transform: translateY(0.15em);
    color: var(--main-text);
}

.navbar__margin {
    height: var(--margin-navbar);
    background-color: var(--main-background);
}
