@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@import "reset.css";
@import "variables.css";
@import "animations.css";
@import "screen-notice.css";

/* pages */
@import "pages/welcome.css";
@import "pages/more.css";
@import "pages/search.css";
@import "pages/chats.css";
@import "pages/setting.css";
@import "pages/splash-screen.css";
@import "pages/chat-01.css";

/*  components */
@import "components/statusbar.css";
@import "components/titlebar.css";
@import "components/navigationbar.css";
@import "components/user.css";
@import "components/page-line.css";

body {
    background-color: var(--main-background);
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}
