:root {
    /* colors */
    --main-background: rgb(43, 43, 43);
    --main-background-light: rgb(73, 73, 73);
    --main-text: rgb(241, 241, 241);
    --subtitle-alpha: rgba(241, 241, 241, 0.4);
    --statusbar-alpha: rgb(30, 30, 30);
    --border-up: #767676;
    --border-down: #212121;
    --badge-color: rgb(255, 67, 67);

    /* margins */
    --margin-statusbar: 1.5em;
    --margin-navbar: 4em;

    /* Bezier */
    --chat-animation-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
