.chat-page {
    margin: 0em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-page__timestamp {
    background-color: var(--main-background-light);
    color: var(--subtitle-alpha);
    padding: 0.5em 1em;
    font-size: 0.7em;
    border-radius: 1em;
    margin-bottom: 2em;
}

.chat-page__message-row {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
}

.chat-page__message-row img {
    width: 3em;
    height: 3em;
    border-radius: 1.2em;
    margin-right: 0.5em;
}

.chat-page__message-row__author {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    color: var(--subtitle-alpha);
    font-size: 0.9em;
}

.chat-page__message-row__info {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.5em;
}

.chat-page__message-row__bubble {
    border: 0.15em solid var(--border-up);
    color: var(--main-text);
    padding: 0.5em;
    border-radius: 0.7em;
    border-top-left-radius: 0em;
    font-size: 0.9em;
}

.chat-page__message-row__time {
    color: var(--main-background-light);
    font-size: 0.8em;
    padding: 0em 0.5em;
}

.chat-page__message-row__read {
    font-size: 0.8em;
    color: yellow;
}

.chat-page__message-row--own {
    justify-content: flex-end;
}

.chat-page__message-row--own .chat-page__message-row__info {
    flex-direction: row-reverse;
}

.chat-page__message-row--own .chat-page__message-row__bubble {
    border-color: yellow;
    border-radius: 0.7em;
    border-top-right-radius: 0em;
}

.chat-reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--main-background-light);
    padding: 0.5em 0.5em;
    font-size: 1.5em;
    box-sizing: border-box;
    color: var(--main-text);
}

.chat-reply__column:first-child {
    width: 7.5%;
    transition: opactiy 0.3s ease-in-out;
}
.chat-reply__column:nth-child(2) {
    width: 77.5%;
}
.chat-reply__column:last-child {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    transition: opacity 0.3s ease-in-out;
}

.chat-reply__column input {
    width: 100%;
    color: var(--main-text);
    background-color: inherit;
    border: none;
    font-size: 0.8em;
    padding: 0.2em 0.1em;
    border-bottom: 0.1em solid var(--main-background);
    transition: all 0.3s ease-in-out;
}

.chat-reply i {
    cursor: pointer;
}

.chat-reply i:hover {
    color: var(--border-up);
}

.chat-reply i:active {
    color: var(--border-down);
}

.chat-reply__margin {
    height: 3em;
}

.chat-reply:focus-within .chat-reply__column:first-child,
.chat-reply:focus-within .chat-reply__column:last-child {
    opacity: 0;
}

.chat-reply:focus-within input {
    width: 95vw;
    transform: translateX(-7.5%);
    border-color: var(--main-text);
}

/* Animation Settings */

.chat-animation__1 {
    animation: chatFadeIn-toUp 0.5s var(--chat-animation-bezier);
}

.chat-animation__2 {
    animation: hiddenContents 0.5s var(--chat-animation-bezier), chatFadeIn-toUp 0.5s 0.5s var(--chat-animation-bezier);
}

.chat-animation__3 {
    animation: hiddenContents 0.5s var(--chat-animation-bezier), chatFadeIn-toRight 0.5s 0.5s var(--chat-animation-bezier);
}

.chat-animation__4 {
    animation: hiddenContents 1s var(--chat-animation-bezier), chatFadeIn-toRight 0.5s 1s var(--chat-animation-bezier);
}

.chat-animation__5 {
    animation: hiddenContents 1.5s var(--chat-animation-bezier), chatFadeIn-toRight 0.5s 1.5s var(--chat-animation-bezier);
}

.chat-animation__6 {
    animation: hiddenContents 2.5s var(--chat-animation-bezier), chatFadeIn-toLeft 0.5s 2.5s var(--chat-animation-bezier);
}

.chat-animation__7 {
    animation: hiddenContents 3s var(--chat-animation-bezier), chatFadeIn-toLeft 0.5s 3s var(--chat-animation-bezier);
}
